<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="main.scss">
  <script src="./js/main.js"></script>
  <title>Hello world</title>
</head>

<body>
  <div class="class1"> class1
    <div class="class2"> class2
      <div class="class3"> class3</div>
    </div>
  </div>
</body>
  <div class="class1"> class1
    <div class="class3"> class3
    </div>
  </div>
  <div class="class1"> class1
    <div class="class2 class5"> class2 class5
      <div class="class3">class3</div>
      <div class="class3">class3</div>
    </div>
  </div>
  <div class="class3">class3</div>
  <div class="class2">class2</div>
</html>