
.accord {
    width: 50%;
    margin: 0 auto;
    position: relative;
    top: 30px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
label {
    border-top: 1px solid rgb(99, 214, 218);
    border-bottom: 1px solid rgb(35, 113, 116);
    display: block;
    padding: 10px 10px;
    background-color: rgb(41, 182, 187);
    transition: background-color .5s ease;
}
img {
    position: absolute;
    top: 6px;
    right: 10px;
    width: 30px;
}
input {
    display: none;
}
label:hover {
    background-color: rgb(184, 187, 41);
    cursor: pointer;
}
input:checked + label {
    background-color: rgb(16, 224, 231);
    border-top: 1px solid rgb(158, 237, 240);
    border-bottom: 1px solid rgb(40, 130, 133);
    & ~ .coment {
        background-color: rgb(255, 251, 235);
        height: 120px;
        overflow-y: scroll;
        transition: height .3s linear;
    }
    & ~ img {
        transform: rotate(-180deg);
        transition: transform .5s ease;
    }
}
p {
    margin: 0;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4 {
    padding-left: 3px;
}
.coment   {
    box-sizing: border-box;
    background-color: rgb(255, 251, 235);
    padding: 0;
    text-align: justify;
    height: 0;
    overflow: hidden;
    font-size: 10px;
    transition: height .1s linear;
    
}



